/* CART ICON */
.cart-icon {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    background: #5865f2;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    z-index: 1000;
    box-shadow: 0 0 10px #5865f2;
}

.cart-icon span {
    background: white;
    color: black;
    padding: 2px 7px;
    border-radius: 50%;
    font-size: 0.9rem;
    margin-left: 5px;
}

/* CART SIDEBAR */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 320px;
    height: 100vh;
    background: #111933;
    padding: 20px;
    color: white;
    transition: 0.3s;
    z-index: 1001;
}

.cart-sidebar.open {
    right: 0;
}

.cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.cart-total {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Close button */
.close-cart {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #5865f2;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.add-cart {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #5865f2;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.add-cart:hover {
    background: #7d5fff;
}
